{% extends 'layout.twig' %}

{% block content %}
    <div class="col-xs-12">
        <h2>User Profile</h2>
        <form action="{{ path('profile') }}" method="POST">

            {{ form_errors(form) }}

            {{ form_widget(form._token) }}

            <div class="form-group">
                <label class="control-label">Username</label>
                <span class="form-control">{{ user.username }}</span>
            </div>

            {{ form_row(form.plain_password) }}

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
{% endblock %}